* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: #222;
  color: white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Fira Code", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

